!Final_Models/augmented_checkpoint_reptile_model.h5
!Final_Models/reptile_model_v1.h5
!Final_Models/checkpoint_reptile_model.h5
!Final_Models/augmented_standard_cnn_model.h5
!Final_Models/standard_cnn_model_v1.h5
